<p>
  <strong>Email:</strong>
  <%= @admin.email %>
</p>
 
<p>
  <strong>Name:</strong>
  <%= @admin.name %>
</p>

<%= link_to 'Delete', admin_path(@admin),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
<br>			  
<%= link_to 'List', admins_path %> 