<!DOCTYPE html>
<html>
<head>
  <title>Library Room Booking App</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>
<h1 style="font-family: 'Courier New'">Library Room Booking Application</h1>
<hr>
<%= yield %>

</body>
</html>
